<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('income') }}">Income</a></li>
            <li><a href="{{ url_for('investments') }}">Investments</a></li>
            <li><a href="{{ url_for('savings') }}">Savings</a></li>
            <li><a href="{{ url_for('expenses') }}">Expenses</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</html>